  


img{
	max-width: 100%;
	padding-top: 30px;
}
.ten{
	margin-top:1em;
	text-align: center;
}


.gia{
	text-align: center;
	color: #EA1717;
}
#sao{
	position: relative;
margin-bottom: 16%;
margin-left: -12%;
padding-right: 2%;
}
#tieude{
	text-decoration: none;
	color: black;
}
#tieude:hover {
	color: red;
	text-decoration: none;
}
#sanpham{
	padding: 0.5%;
	margin-top: 7%;
	    border-style:ridge;
}
#danhmuc1{
	padding: 0.5%;
	margin-top: 7%;
	    border-style:ridge;
}
#danhmuc{
	padding: 0.5%;
	margin-top: 2%;
	    border-style:ridge;
}
.sp{
	margin-top: 1%;
		color: red;
padding-top: 10px;
    border-bottom: #ff0000 solid 2px;

}

#anh{
	max-width: 100%;
}

footer{
	padding-bottom: 30px;
	margin-top:30px;
	background-color: black;

}
h6{ 
	padding-top: 20px;
	margin-top: 30px;
	color: white;
}

li{
list-style: none;
}
.myButton{
	border-radius: 8px;
  background-color: #f4511e;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 5px 10px;
  margin: 4px 2px;
  opacity: 0.5;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid red;
    position: relative;
margin-left: 33%;
}


.myButton:hover {opacity:1;
	color: white;
	text-decoration: none;
}

@media (max-width: 768px){
	#sao{
position: relative;
margin-bottom: 7%;
margin-left: -6%;
padding-right: 2%;

}
}
@media (max-width: 700px){
#sao {
    position: relative;
    margin-bottom: 7%;
    margin-left: -4%;
    padding-right: 4%;
}
}
@media (max-width: 450px; min-width: 215px){
#sao {
    position: relative;
    margin-bottom: 27%;
    margin-left: -18%;
    padding-right: 4%;
}