body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    word-break: unset;
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-wrapper {
    z-index: 9999;
}
.footer-wrapper {
    width: 100%;
    position: relative;
}